body {
  /* background-color: #F0EAD6; */
}

#clanView, #searchbar, #clanSummaryView {
  margin-left: 0px;
  margin-top: 5px;
}

.row {
  display: flex;
  align-items: center;
}

.clanInfo {
  margin-top: 5px;
}

.dropdown {
  float: left;
}

.search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  height: 25px;
  background: #f1f1f1;
}

.button {
  width: 10%;
  height: 45px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.button:hover {
  background: #0b7dda;
}
