body {
  /* background-color: #F0EAD6; */
}

#clanView, #searchbar {
  margin-left: 0px;
  margin-top: 10px;
}

.missedWar {
  background-color: #ff9994;
}

#clanSummaryView {
  margin-top: 15px;
}

.tab-content {
  padding: 5px;
}

/* .row {
  display: flex;
  align-items: center;
} */

tbody .total, tbody .player, .clanTotal {
  font-weight: bold;
  font-size: .9rem;
}

.tabs {
  background-color: 2196F3;
}

.clanInfo {
  margin-top: 5px;
}

.dropdown {
  float: left;
}

.search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  height: 25px;
  background: #f1f1f1;
}

.button {
  width: 10%;
  height: 45px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.button:hover {
  background: #0b7dda;
}

table {
  margin-top: 10px;
}

thead, tfoot {
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tbody {
  font-size: .85rem;
  color: #15508f;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.total {
  border-left: 1px solid #dee2e6;
  text-align: right;
}

.player {
  border-right: 1px solid #dee2e6;
}

.indexCol {
  background-color: #ddd;
}

thead .indexCol, tfoot .indexCol {
  background-color: white;
}

#clan-tabs {
  color: #007bff;
}

#clan-tabs a:hover {
  color: black;
  cursor: pointer;
}