body {
  /* background-color: #F0EAD6; */
}

.search {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 30%;
  height: 25px;
  background: #f1f1f1;
}

.button {
  width: 10%;
  height: 45px;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.button:hover {
  background: #0b7dda;
}
